.banner {
  &-wallets {
    padding: $space-base 0;
    background-color: $black;
  }

  &-quote {
    padding: $space-xl 0;

    &__body {
      max-width: 75%;
      margin-bottom: $space-base;
    }
  }

  &--beige {
    background-color: $theme-beige-background-color;
  }

  &--beige & {
    &-quote {
      &__author {
        color: $orange-dark;
      }
    }
  }
}
