.screen-flip {
  display: flex;

  &__content,
  &__phone {
    width: 50%;
  }

  &__content {
    padding-top: $space-l;
  }
  // @include media(medium) {
  //   &__content {
  //     width: 50%;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     padding-top: $space-xl;
  //   }

  //   &__phone {
  //     padding-top: $space-l;
  //   }
  // }

  &__link {
    cursor: pointer;
    display: block;
    transition: opacity 0.15s ease-in-out;
    opacity: 0.4;
    border-left: 2px solid $black;
    padding: $space-s $space-base;

    &--active {
      opacity: 1;
    }
  }
}
