.screen-flip {
  position: relative;

  &__content {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    padding-top: $space-xl;
  }

  &__link {
    cursor: pointer;
    display: block;
    transition: opacity 0.15s ease-in-out;
    opacity: 0.4;
    border-left: 2px solid $black;
    padding: $space-s $space-base;

    &--active {
      opacity: 1;
    }
  }
}
