.section {
  padding: $space-xxl 0;

  &--dark {
    background-color: $theme-dark-background-color;
    color: $white;
  }

  &--light {
    a {
      color: $black;

      &:hover {
        color: lighten($black, 25%);
      }
    }
  }

  &--orange {
    background-color: $theme-orange-background-color;
    color: $black;
  }

  &__content {
    max-width: 90%;
  }

  &--splash {
    padding: 0;
    flex: 1;
  }

  &--splash & {
    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
  }

  &--screens {
    padding: $space-m 0;
    background-color: $theme-dust-background-color;

    @include media(medium) {
      padding: $space-xl 0 0;
    }
  }
}
