.section {
  padding: $space-xl 0;

  &--dark {
    background-color: $theme-dark-background-color;
    color: $white;
  }

  &--light {
    a {
      color: $black;

      &:hover {
        color: lighten($black, 25%);
      }
    }
  }

  &__content {
    max-width: 90%;
  }

  &--splash {
    @include media(large) {
      padding: 450px 0 235px;
    }

    padding: 250px 0 66px;
  }
}
