.section {
  padding: $space-xl 0;

  &--dark {
    background-color: $theme-dark-background-color;
    color: $white;
  }

  &__content {
    max-width: 90%;
  }

  &--splash {
    padding-top: 250px;

    @include media(large) {
      padding-top: 450px;
    }

    .section__content {
    }
  }
}
