html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

body {
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: $heading-line-height;
  margin: 0 0 $space-xxs;
}

h1,
h2 {
  @include media(large) {
    font-size: $font-size-desktop-xl;
  }
  font-size: $font-size-xl;
}

h1 {
  margin-bottom: $space-base;
}

h2 {
  margin-bottom: $space-base;

  @include media(large) {
    margin-bottom: $space-l;
  }
}

h3 {
  @include media(large) {
    font-size: $font-size-desktop-large;
  }
  font-size: $font-size-large;
}

p {
  margin: 0 0 $space-base;
}

a {
  color: $white;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: color $base-duration $base-timing;

  &:hover {
    color: darken($white, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

blockquote {
  font-size: $font-size-large;
  font-weight: $font-weight-medium;

  @include media(large) {
    font-size: $font-size-desktop-large;
  }
}
