// Typography
$base-font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;

// Breakpoints
$small: 480px;
$medium: 768px;
$large: 1000px;

// Pixel text values
$px-base-font-size: 20;
$px-heading-font-size: 18;
$px-base-line-height: 24;
$px-heading-line-height: 24;

// Convert to rem
$base-font-size: ($px-base-font-size / 16) * 1rem;
$base-line-height: ($px-base-line-height / $px-base-font-size);
$heading-line-height: ($px-heading-line-height / $px-heading-font-size);

// Font sizes
$font-size-tiny: (11 / 16) * 1rem;
$font-size-small: (14 / 16) * 1rem;
$font-size-regular: (16 / 16) * 1rem;
$font-size-medium: (18 / 16) * 1rem;
$font-size-large: (24 / 16) * 1rem;
$font-size-xl: (32 / 16) * 1rem;

// Font sizes
$font-size-desktop-tiny: $font-size-tiny;
$font-size-desktop-small: $font-size-small;
$font-size-desktop-regular: (20 / 16) * 1rem;
$font-size-desktop-medium: (24 / 16) * 1rem;
$font-size-desktop-large: (40 / 16) * 1rem;
$font-size-desktop-xl: (60 / 16) * 1rem;

// Calculate baseline
$baseline: ($base-font-size * $base-line-height);

// Vertical rhythm spacing
$space-base: $baseline;
$space-xxs: $space-base * 0.25;
$space-xs: $space-base * 0.5;
$space-s: $space-base * 0.75;
$space-l: $space-base * 1.5;
$space-xl: $space-base * 2.7;
$space-xxl: $space-base * 10;

// Other Sizes
$base-border-radius: 3px;
$base-border-radius-x2: $base-border-radius * 2;

// Colors
$white: #fff;
$medium-gray: #999;
$light-gray: #f6f6f6;
$dark-gray: #0e0d10;

// Font Colors
$base-font-color: $dark-gray;
$header-menu-color: $white;

// Background Colors
$base-background-color: $white;
$theme-dark-background-color: #212227;
$header-background-color: rgba(15, 14, 18, 0.9);

// Focus
$focus-outline-color: transparentize($white, 0.4);
$focus-outline-width: 2px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Z-index
$base-z-index: 0;
$below-base-z-index: $base-z-index - 1;
$above-base-z-index: 1;
$global-nav-z-index: 999;

// Animations
$base-duration: 100ms;
$base-timing: ease;
